<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CINEVERSE_MOVIE_APP_TWO"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Splash screen should be the launcher -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities -->
        <activity android:name=".WishlistActivity" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ReelsActivity" android:exported="false" />
        <activity android:name=".MovieListActivity" android:exported="false" />
        <activity android:name=".CategoriesActivity" android:exported="false" />
        <activity android:name=".MovieDetailActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".RegistrationSuccessActivity" android:exported="false" />
        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />

        <!-- MainActivity should NOT have LAUNCHER intent filter -->
        <activity android:name=".MainActivity" android:exported="false" />
    </application>

</manifest>
